.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em; 
  color: #3498db; 
  text-align: center; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.box{
  height:100px;
  width:100vw;
  border:3px inset rgb(165, 231, 156);
  
  
}
.box>ul{
  display:flex;
  justify-content: center;
  font-size:24px;
  text-align:center;
}
.box>ul>li{
  padding:10px;
  margin:10px;
}
.image{
height:150px;
width:150px;
}
.card{
  height:250px;
  width:150px;
  padding:5px;
  margin:10px;
  border:3px outset black;
  background-color: beige;
}